<html>

<head>
  <title>Login Here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <!-- <script type="text/javascript">
            function valRoute(){
                var select = document.getElementById("route");
                alert(select.options[select.selectedIndex].value)
            }
        </script> -->

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../public/static/css/style.css" />
</head>

<style>
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    background: rgb(194, 130, 223);
    padding: 30px;
  }
</style>

<body class="container">
  <div class="page-header">
    <nav class="navbar navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Log In</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>

  <header class="page-header">
    <h1 align="center">Welcome</h1>
  </header>

  <form id="form-id" method="GET">
    <label for="ep">Route EndPoint : </label>
    <input type="text" name="ep" id="route" /><br /><br />
    <button id="btn" onClick="redirect()" class="submit">Submit</button>
  </form>
  <script type="text/javascript">
    function redirect() {
      const rute = document.getElementById("route").value;
      var url = "http://localhost:4000/api/" + rute;
      document.getElementById("form-id").action = url;
    }
  </script>
</body>

</html>